.containerMain {
  /* background-image: url("/backgroundHomeDes.png"),linear-gradient(to right bottom, rgb(6, 6, 38) 0%, rgb(87, 133, 180) 100%); */
}
@media screen and (max-width: 860px) {
  .logo {
    display: block;
  }
}
.HeaderRightHome {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}
@media only screen and (max-width: 600px) {
  .containerMain {
    height: inherit !important;
    /* background-image: url("/backgroundHomeMobile.png"),linear-gradient(to right bottom, rgb(6, 6, 38) 0%, rgb(87, 133, 180) 100%); */
  }
  .HeaderLeftHome {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .HeaderRightHome {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 320px) {
  .containerMain {
    height: unset !important;
    /* background-image: url("/backgroundHomeMobile.png"),linear-gradient(to right bottom, rgb(6, 6, 38) 0%, rgb(87, 133, 180) 100%); */
  }
}
