*{
    box-sizing: border-box;
}
.fit{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
}
.layout-code{
    display: flex;
    flex-direction: column;
    
}
.layout-code-header{
    display: flex;
}
.layout-code-body{
    position: relative;
    flex-grow: 1;
    
}

.split-panel{
    overflow: hidden;
}
.stretch{
    display: flex;
    align-items: stretch;
}
.split-panel-first{
    padding: 10px;
    background: #f5f5f5;
    overflow: hidden;
}
.split-panel-second{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.coding-area{
    flex-grow:1;
    background: #f5f5f5;

}
.splitHorizontal{
    display: flex;
    width: 100%;
}

.splitHorizontal .gutter{
    background: #ffffff;
    cursor: ew-resize;
}

.splitVertical{
    height: 100%;
}
.splitVertical .gutter{
    background: #ffffff;
    cursor: n-resize;
}

.codeEditor{
   overflow: hidden;
   position: relative;
   top:0;
   left: 0;
}
.resultPanel{
    overflow: hidden;
}
.codeEditor .reset_code button{
   background: #8291a3;    
   border: none;
   color: white;
   padding: 3px 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border-radius: 4px;
   
}

.execute_btn{
    background: #2680EB;    
    border: none;
    color: #FFFFFF;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.disable_btn{
    opacity: 0.5;
    cursor: auto!important;
}
.submitCode_btn{
    background: #4DBF9D;    
    border: none;
    color: #FFFFFF;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.resultPanel .MuiTab-wrapper{
    font-family: "Share Tech Mono", monospace !important;
}