{
    "swagger": "2.0",
    "info": {
        "description": "This is a server Api Hocode.",
        "title": "Hocode API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "hocodevn.com",
    "basePath": "/api/v1",
    "paths": {
        "/auth/completeminitask": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "UserMiniTask"
                ],
                "summary": "Get complete user minitask",
                "operationId": "user_complete_minitask",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.MiniTask"
                            }
                        }
                    }
                }
            }
        },
        "/auth/reviewcert": {
            "get": {
                "description": "Review cert for user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ReviewCert"
                ],
                "summary": "Review Cert by user",
                "operationId": "review_cert",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.ReviewCertOut"
                        }
                    }
                }
            }
        },
        "/auth/updateusercourse": {
            "post": {
                "description": "UpdateUserCourse",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "UserCourse"
                ],
                "summary": "UpdateUserCourse",
                "parameters": [
                    {
                        "description": "UpdateUserCourse",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.BodyUC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.UserCourseOut"
                        }
                    }
                }
            }
        },
        "/auth/usercourse": {
            "get": {
                "description": "get GetUserCourse",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "UserCourse"
                ],
                "summary": "List GetUserCourse",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.UserCourse"
                        }
                    }
                }
            }
        },
        "/auth/viewcert": {
            "get": {
                "description": "View cert for user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ViewCertUser"
                ],
                "summary": "View Cert by user",
                "operationId": "view_cert",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.ReviewCertOut"
                        }
                    }
                }
            }
        },
        "/books": {
            "get": {
                "description": "get books \u003ca href=\"/api/v1/books?page=1\u0026limit=5\"\u003e/api/v1/books?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Books"
                ],
                "summary": "List Books",
                "operationId": "book_list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Book"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create Book",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Books"
                ],
                "summary": "Create Book",
                "operationId": "book_create",
                "parameters": [
                    {
                        "description": "Create Book",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                }
            }
        },
        "/books/": {
            "get": {
                "description": "get books \u003ca href=\"/api/v1/books?page=1\u0026limit=5\"\u003e/api/v1/books?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Books"
                ],
                "summary": "One Books",
                "operationId": "book_one",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Book",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Books"
                ],
                "summary": "UpdateBooks Book",
                "operationId": "book_update",
                "parameters": [
                    {
                        "description": "Update Book",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Book",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Books"
                ],
                "summary": "Delete Book",
                "operationId": "book_delete",
                "parameters": [
                    {
                        "description": "Delete Book",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                }
            }
        },
        "/certs": {
            "get": {
                "description": "get certs \u003ca href=\"/api/v1/certs?page=1\u0026limit=5\"\u003e/api/v1/certs?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Certs"
                ],
                "summary": "List Certs",
                "operationId": "cert_list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Cert"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create Cert",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Certs"
                ],
                "summary": "Create Cert",
                "operationId": "cert_create",
                "parameters": [
                    {
                        "description": "Create Cert",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Cert"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Cert"
                        }
                    }
                }
            }
        },
        "/certs/": {
            "get": {
                "description": "get certs \u003ca href=\"/api/v1/certs?page=1\u0026limit=5\"\u003e/api/v1/certs?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Certs"
                ],
                "summary": "One Certs",
                "operationId": "cert_one",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Cert"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Cert",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Certs"
                ],
                "summary": "UpdateCerts Cert",
                "operationId": "cert_update",
                "parameters": [
                    {
                        "description": "Update Cert",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Cert"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Cert"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Cert",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Certs"
                ],
                "summary": "Delete Cert",
                "operationId": "cert_delete",
                "parameters": [
                    {
                        "description": "Delete Cert",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Cert"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Cert"
                        }
                    }
                }
            }
        },
        "/certs/search/": {
            "get": {
                "description": "get certs by SearchID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Certs"
                ],
                "summary": "One Certs by Search ID",
                "operationId": "cert_search_id",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Cert"
                        }
                    }
                }
            }
        },
        "/configs": {
            "get": {
                "description": "get configs \u003ca href=\"/api/v1/configs?page=1\u0026limit=5\"\u003e/api/v1/configs?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Configs"
                ],
                "summary": "List Configs",
                "operationId": "config_list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Config"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create Config",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Configs"
                ],
                "summary": "Create Config",
                "operationId": "config_create",
                "parameters": [
                    {
                        "description": "Create Config",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Config"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Config"
                        }
                    }
                }
            }
        },
        "/configs/": {
            "get": {
                "description": "get configs \u003ca href=\"/api/v1/configs?page=1\u0026limit=5\"\u003e/api/v1/configs?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Configs"
                ],
                "summary": "One Configs",
                "operationId": "config_one",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Config"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Config",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Configs"
                ],
                "summary": "UpdateConfigs Config",
                "operationId": "config_update",
                "parameters": [
                    {
                        "description": "Update Config",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Config"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Config"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Config",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Configs"
                ],
                "summary": "Delete Config",
                "operationId": "config_delete",
                "parameters": [
                    {
                        "description": "Delete Config",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Config"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Config"
                        }
                    }
                }
            }
        },
        "/courses": {
            "get": {
                "description": "get courses \u003ca href=\"/api/v1/courses?page=1\u0026limit=5\"\u003e/api/v1/courses?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Courses"
                ],
                "summary": "List Courses",
                "operationId": "course_list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Course"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create Course",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Courses"
                ],
                "summary": "Create Course",
                "parameters": [
                    {
                        "description": "Create Course",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Course"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Course"
                        }
                    }
                }
            }
        },
        "/courses/": {
            "get": {
                "description": "get courses \u003ca href=\"/api/v1/courses?page=1\u0026limit=5\"\u003e/api/v1/courses?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Courses"
                ],
                "summary": "One Courses",
                "operationId": "coursesx_one",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Course"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Course",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Courses"
                ],
                "summary": "UpdateCourses Course",
                "operationId": "coursesx_update",
                "parameters": [
                    {
                        "description": "Update Course",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Course"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Course"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Course",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Courses"
                ],
                "summary": "Delete Course",
                "operationId": "coursesx_delete",
                "parameters": [
                    {
                        "description": "Delete Course",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Course"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Course"
                        }
                    }
                }
            }
        },
        "/courses/{id}": {
            "get": {
                "description": "get courses by ID \u003ca href=\"/courses/5d86e07bfe6e2b157bd3b259\"\u003e/courses/5d86e07bfe6e2b157bd3b259\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Courses"
                ],
                "summary": "Get Course By ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Course ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Course"
                        }
                    }
                }
            }
        },
        "/courses/{id}/tasks": {
            "get": {
                "description": "Get Task By Courses ID \u003ca href=\"/api/v1/courses/5d86e07bfe6e2b157bd3b259/tasks\"\u003e/api/v1/courses/5d86e07bfe6e2b157bd3b259/tasks\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Courses"
                ],
                "summary": "Get Task By Courses ID Auth",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Course ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Task"
                            }
                        }
                    }
                }
            }
        },
        "/createbook": {
            "post": {
                "description": "Create Book",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Books"
                ],
                "summary": "Create Book",
                "parameters": [
                    {
                        "description": "Create Book",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Book"
                        }
                    }
                }
            }
        },
        "/curd/configs/byname/": {
            "get": {
                "description": "get configs",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Configs"
                ],
                "summary": "One Configs by name",
                "operationId": "config_one_by_name",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Config"
                        }
                    }
                }
            }
        },
        "/events": {
            "get": {
                "description": "get events \u003ca href=\"/api/v1/events?page=1\u0026limit=5\"\u003e/api/v1/events?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Events"
                ],
                "summary": "List Events",
                "operationId": "event_list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Event"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create Event",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Events"
                ],
                "summary": "Create Event",
                "operationId": "event_create",
                "parameters": [
                    {
                        "description": "Create Event",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Event"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Event"
                        }
                    }
                }
            }
        },
        "/events/": {
            "get": {
                "description": "get events \u003ca href=\"/api/v1/events?page=1\u0026limit=5\"\u003e/api/v1/events?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Events"
                ],
                "summary": "One Events",
                "operationId": "event_one",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Event"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Event",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Events"
                ],
                "summary": "UpdateEvents Event",
                "operationId": "event_update",
                "parameters": [
                    {
                        "description": "Update Event",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Event"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Event"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Event",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Events"
                ],
                "summary": "Delete Event",
                "operationId": "event_delete",
                "parameters": [
                    {
                        "description": "Delete Event",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Event"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Event"
                        }
                    }
                }
            }
        },
        "/health_check": {
            "get": {
                "description": "Health Check Server",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Health Check Server",
                "responses": {
                    "200": {
                        "description": "Server Ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/minitasks": {
            "get": {
                "description": "get minitasks \u003ca href=\"/api/v1/minitasks?page=1\u0026limit=5\"\u003e/api/v1/minitasks?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "MiniTasks"
                ],
                "summary": "List MiniTasks",
                "operationId": "minitask_list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.MiniTask"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create MiniTask",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "MiniTasks"
                ],
                "summary": "Create MiniTask",
                "operationId": "minitask_create",
                "parameters": [
                    {
                        "description": "Create MiniTask",
                        "name": "minitask",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MiniTask"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MiniTask"
                        }
                    }
                }
            }
        },
        "/minitasks/": {
            "get": {
                "description": "get minitasks \u003ca href=\"/api/v1/minitasks?page=1\u0026limit=5\"\u003e/api/v1/minitasks?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "MiniTasks"
                ],
                "summary": "One MiniTasks",
                "operationId": "minitask_one",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MiniTask"
                        }
                    }
                }
            },
            "put": {
                "description": "Update MiniTask",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "MiniTasks"
                ],
                "summary": "UpdateMiniTasks MiniTask",
                "operationId": "minitask_update",
                "parameters": [
                    {
                        "description": "Update MiniTask",
                        "name": "minitask",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MiniTask"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MiniTask"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete MiniTask",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "MiniTasks"
                ],
                "summary": "Delete MiniTask",
                "operationId": "minitask_delete",
                "parameters": [
                    {
                        "description": "Delete MiniTask",
                        "name": "minitask",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MiniTask"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MiniTask"
                        }
                    }
                }
            }
        },
        "/minitasks/{id}": {
            "get": {
                "description": "get Minitasks by ID \u003ca href=\"/api/v1/minitasks/5d995ae8fe6e2b0ca40b22fe\"\u003e/api/v1/minitasks/5d995ae8fe6e2b0ca40b22fe\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Minitasks"
                ],
                "summary": "Get Minitasks By ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Minitask ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MiniTask"
                        }
                    }
                }
            }
        },
        "/tasks": {
            "get": {
                "description": "get tasks \u003ca href=\"/api/v1/tasks?page=1\u0026limit=5\"\u003e/api/v1/tasks?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tasks"
                ],
                "summary": "List Task",
                "operationId": "task_list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Task"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create Task",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tasks"
                ],
                "summary": "Create Task",
                "parameters": [
                    {
                        "description": "Create Task",
                        "name": "task",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Task"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Task"
                        }
                    }
                }
            }
        },
        "/tasks/": {
            "get": {
                "description": "get tasks \u003ca href=\"/api/v1/tasks?page=1\u0026limit=5\"\u003e/api/v1/tasks?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tasks"
                ],
                "summary": "One Tasks",
                "operationId": "tasks_one",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Task"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Task",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tasks"
                ],
                "summary": "UpdateTasks Task",
                "operationId": "tasks_update",
                "parameters": [
                    {
                        "description": "Update Task",
                        "name": "task",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Task"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Task"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Task",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tasks"
                ],
                "summary": "Delete Task",
                "operationId": "tasks_delete",
                "parameters": [
                    {
                        "description": "Delete Task",
                        "name": "task",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Task"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Task"
                        }
                    }
                }
            }
        },
        "/tasks/{id}": {
            "get": {
                "description": "get task by ID \u003ca href=\"/api/v1/tasks/5d86f268fe6e2b31c0673b02\"\u003e/api/v1/tasks/5d86f268fe6e2b31c0673b02\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tasks"
                ],
                "summary": "Get Task By ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Task ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Task"
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "description": "get users \u003ca href=\"/api/v1/users?page=1\u0026limit=5\"\u003e/api/v1/users?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "List Users",
                "operationId": "user_list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.User"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create User",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Create User",
                "operationId": "user_create",
                "parameters": [
                    {
                        "description": "Create User",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                }
            }
        },
        "/users/": {
            "get": {
                "description": "get users \u003ca href=\"/api/v1/users?page=1\u0026limit=5\"\u003e/api/v1/users?page=1\u0026limit=5\u003c/a\u003e",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "One Users",
                "operationId": "user_one",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                }
            },
            "put": {
                "description": "Update User",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "UpdateUsers User",
                "operationId": "user_update",
                "parameters": [
                    {
                        "description": "Update User",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete User",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Delete User",
                "operationId": "user_delete",
                "parameters": [
                    {
                        "description": "Delete User",
                        "name": "course",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                }
            }
        },
        "/users/{id}": {
            "post": {
                "description": "update accounts by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Update user",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Account ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update account",
                        "name": "account",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.User"
                        }
                    }
                }
            },
            "delete": {
                "description": "delete accounts by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Delete user",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Account ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.BodyUC": {
            "type": "object",
            "properties": {
                "course_id": {
                    "type": "string"
                },
                "minitask_id": {
                    "type": "string"
                },
                "task_id": {
                    "type": "string"
                }
            }
        },
        "model.Book": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "string"
                },
                "del": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "model.Cert": {
            "type": "object",
            "properties": {
                "agree": {
                    "type": "boolean"
                },
                "config_id": {
                    "type": "string"
                },
                "del": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "search_id": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "timestamp": {
                    "description": "ElectronicSignature string        json:\"electronic_signature\" bson:\"electronic_signature\"",
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "model.Config": {
            "type": "object",
            "properties": {
                "del": {
                    "type": "boolean"
                },
                "electronic_signature": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "name_site": {
                    "type": "string"
                },
                "review_point": {
                    "type": "integer"
                },
                "timestamp": {
                    "type": "string"
                }
            }
        },
        "model.Course": {
            "type": "object",
            "properties": {
                "background_image": {
                    "type": "string"
                },
                "course_desc": {
                    "type": "string"
                },
                "course_name": {
                    "type": "string"
                },
                "del": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "rating": {
                    "type": "array",
                    "items": {
                        "type": "number"
                    }
                },
                "rating_value": {
                    "type": "number"
                },
                "task_solved": {
                    "description": "Name            string     json:\"name\" bson:\"name\"",
                    "type": "object",
                    "$ref": "#/definitions/model.TaskSolved"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Task"
                    }
                },
                "timestamp": {
                    "type": "string"
                },
                "total_minitask": {
                    "type": "integer"
                },
                "user_create": {
                    "type": "string"
                }
            }
        },
        "model.CourseInfo": {
            "type": "object",
            "properties": {
                "background_image": {
                    "type": "string"
                },
                "completed_tasks_count": {
                    "type": "integer"
                },
                "course_id": {
                    "type": "string"
                },
                "course_name": {
                    "type": "string"
                },
                "pass_course": {
                    "type": "boolean"
                },
                "todo_tasks_count": {
                    "type": "integer"
                },
                "total_tasks_count": {
                    "type": "integer"
                }
            }
        },
        "model.Event": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "string"
                },
                "del": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "model.Input": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "model.InputList": {
            "type": "object",
            "properties": {
                "input_name": {
                    "description": "ID             bson.ObjectId json:\"id\" bson:\"_id,omitempty\"",
                    "type": "string"
                },
                "input_type": {
                    "type": "string"
                }
            }
        },
        "model.MiniTask": {
            "type": "object",
            "properties": {
                "avatar": {
                    "type": "string"
                },
                "code_point": {
                    "type": "integer"
                },
                "del": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "input_list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.InputList"
                    }
                },
                "level": {
                    "type": "string"
                },
                "mini_task_desc": {
                    "type": "string"
                },
                "mini_task_name": {
                    "type": "string"
                },
                "name_func": {
                    "type": "string"
                },
                "output_type_func": {
                    "type": "string"
                },
                "point_unlock": {
                    "type": "integer"
                },
                "status": {
                    "type": "string"
                },
                "task_id": {
                    "type": "string"
                },
                "template_code": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                },
                "unit_tests": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.UnitTest"
                    }
                },
                "vitri": {
                    "type": "boolean"
                }
            }
        },
        "model.MiniTaskInfo": {
            "type": "object",
            "properties": {
                "minitask_id": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "model.ReviewCertOut": {
            "type": "object",
            "properties": {
                "cert": {
                    "type": "object",
                    "$ref": "#/definitions/model.Cert"
                },
                "config": {
                    "type": "object",
                    "$ref": "#/definitions/model.Config"
                },
                "user": {
                    "type": "object",
                    "$ref": "#/definitions/model.User"
                }
            }
        },
        "model.Task": {
            "type": "object",
            "properties": {
                "background_image": {
                    "type": "string"
                },
                "course_id": {
                    "type": "string"
                },
                "del": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "minitasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.MiniTask"
                    }
                },
                "task_name": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                }
            }
        },
        "model.TaskSolved": {
            "type": "object",
            "properties": {
                "task_count": {
                    "description": "ID            bson.ObjectId json:\"id\" bson:\"_id,omitempty\"",
                    "type": "integer"
                },
                "tasks_complete": {
                    "type": "integer"
                },
                "timestamp": {
                    "type": "string"
                }
            }
        },
        "model.UnitTest": {
            "type": "object",
            "properties": {
                "expected_output": {
                    "type": "string"
                },
                "inputs": {
                    "description": "ID             bson.ObjectId json:\"id\" bson:\"_id,omitempty\"",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Input"
                    }
                }
            }
        },
        "model.User": {
            "type": "object",
            "properties": {
                "avatar": {
                    "type": "string"
                },
                "codepoint": {
                    "type": "integer"
                },
                "del": {
                    "type": "boolean"
                },
                "email": {
                    "type": "string"
                },
                "firstname": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "lastname": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "timestamp": {
                    "description": "Company []company      json:\"company,omitempty\" bson:\"company,omitempty\"",
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "model.UserCourse": {
            "type": "object",
            "properties": {
                "course_info": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.CourseInfo"
                    }
                },
                "del": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "model.UserCourseOut": {
            "type": "object",
            "properties": {
                "codepoint": {
                    "type": "integer"
                },
                "next_minitask": {
                    "type": "object",
                    "$ref": "#/definitions/model.MiniTask"
                },
                "user_course": {
                    "type": "object",
                    "$ref": "#/definitions/model.UserCourse"
                },
                "user_minitask": {
                    "type": "object",
                    "$ref": "#/definitions/model.UserMiniTask"
                }
            }
        },
        "model.UserMiniTask": {
            "type": "object",
            "properties": {
                "course_info": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.MiniTaskInfo"
                    }
                },
                "del": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        }
    }
}