.minitask-header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  background: white;
  width: 100%;
  position: relative;
  min-height: 50px;
}

.nav_usermenu > div {
  display: flex;
}

.minitaskName_mobi {
  display: none;
}
.nav-wrapper {
  flex-grow: 1;
  display: flex;
  margin: 0px 25px;
}
.nav-wrapper .left-menu a {
  text-decoration: none;
  color: #595959;
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
  font-size: 20px;
}
.left-menu {
  flex-grow: 1;
}

.right-menu {
  display: flex;
  align-items: center;
}

.right-menu .code-point {
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}

.right-menu .nav-name {
  color: #595959;
  /* font-family: "Yanone Kaffeesatz", sans-serif; */
  font-size: 20px;
  margin-left: 15px;
  padding: 5px;
  position: relative;
}
.right-menu .nav-name:hover .nameSubmenu {
  display: block;
}
.right-menu .nav-name .nameSubmenu {
  list-style: none;
  margin: 30px 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 3px;
  width: 120px;
  text-align: right;
  display: none;
  background: #f5f5f5;
  border-radius: 9px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  z-index: 999;
}
.right-menu .nav-name .nameSubmenu li {
  padding-right: 5px;
  margin-top: 5px;
}
.nav-wrapper .right-menu .desktop-hide {
  display: none;
}

.logo {
  padding: 0px 10px;
}
.logo1 {
  padding: 0px 10px;
}

.nav-wrapper .desktop-hide1 {
  display: none;
}
.nav-wrapper .right-menu .nav_usermenu {
  display: flex;
}
@media screen and (max-width: 860px) {
  .right-menu {
    align-items: flex-start;
  }
  .minitaskName_mobi {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo {
    display: none!important;
  }
  .nav-wrapper .desktop-hide1 {
    display: block;
  }
  .miniTask_name {
    display: none !important;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    background: #eef;
    transition: all 0.2s ease;
    flex-direction: column;
    margin: 0px;
    padding-right: 20px;
    opacity: 0;
    transform: translateX(-100%);
    padding-left: 20px;
    padding-top: 50px;
    align-items: flex-start;
  }

  .nav-wrapper .left-menu {
    flex-grow: 0;
    margin-left: 10px;
  }
  .nav-wrapper .right-menu {
    flex-direction: column;
    margin-left: 10px;
  }
  .nav-wrapper .right-menu .code-point {
    display: none;
  }
  .nav-wrapper .right-menu .nav-name {
    display: none;
  }
  .nav-wrapper .right-menu .nav_usermenu {
    display: none;
  }
  .nav-wrapper .right-menu .desktop-hide {
    display: block;
  }

  .nav-wrapper .right-menu .desktop-hide a {
    text-decoration: none;
    color: #595959;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    font-size: 20px;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    left: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    margin-left: 14px;
    background: #000;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
  #nav:checked + .nav-btn {
    transform: rotate(45deg);
  }
  #nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
  }

  #nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  #nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
  }
  #nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  #nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
    transform: translateX(0);
  }
}

.hidden {
  display: none;
}
